* {
    padding: 0;
    margin: 0;
}

body {
    background: #7C9D96;
    font-family: 'Open Sans', sans-serif;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#login {
    margin-top: 10%;
}

#login .card {
    border-radius: 5px;
    background: #F4F2DE;
    box-shadow: 0px 4px 10px 0px #F4F2DE;
    height: 351px;
    flex-shrink: 0;
}

#login .title {
    font-family: 'Open Sans', sans-serif;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin-top: 25px;
    margin-left: 25px;
}

#login .form-label {
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#login .check-label {
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#login .forgot{
    color: #646464;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

#login .btn-login{
    border-radius: 10px;
    background: #E9B384;

    color: #F4F2DE;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* navbar */
#layout{
    position: relative;
}

#layout .navbar{
    background: #F4F2DE;
    height: 80px;
    position: fixed;
    width: 100vw;
    z-index: 999;
}

#layout .navbar img{
    margin-left: 70px;
}

#layout .navbar .toggle-btn{
    width: 28px;
    height: 28px;
    flex-shrink: 0;
}

#layout .navbar .account{
    width: 51px;
    height: 51px;
    flex-shrink: 0;
    border-radius: 51px;
    background: url('./assets/img/avatar.jpg'), lightgray 50% no-repeat;
    background-size: cover;
}

#left-nav{
    border-right: 0.5px solid #A1CCD1;
    background: #7C9D96;
    width: 231px;
    height: 100vh;
    position: fixed;
    z-index: 0;
}

#left-nav .menu {
    margin-top: 90px;
}

#left-nav .menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 5px;
}

#left-nav .menu ul li{
    background: #7C9D96;
    width: 218px;
    height: 38px;
    flex-shrink: 0;
    padding-top: 5px;
}

#left-nav .menu ul li a{
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}

#left-nav .menu ul li img{
    width: 10px;
    height: 10px;
    flex-shrink: 0;
    margin-left: 26px;
}

#left-nav .menu ul .active{
    background: #F4F2DE;
    width: 218px;
    height: 38px;
    flex-shrink: 0;
    border-bottom: solid 0.5px #A1CCD1;
}

#left-nav .menu ul .active a{
    color: #7C9D96;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#left-nav .menu ul .active img{
    width: 10px;
    height: 10px;
    flex-shrink: 0;
    margin-left: 26px;
}

/* hover */
#left-nav .menu ul li:hover{
    background: #F4F2DE;
    width: 218px;
    height: 38px;
    flex-shrink: 0;
    cursor: pointer;
    border-bottom: solid 0.5px #A1CCD1;
}

#left-nav .menu ul li:hover a{
    color: #7C9D96;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#left-nav .menu ul li:hover img{
    width: 10px;
    height: 10px;
    flex-shrink: 0;
    margin-left: 26px;
}

.menu-footer{
    color: #F4F2DE;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 150% */
    margin-left: 40px;
    margin-bottom: 25px;
}

#content-layout{
    width: calc(100vw - 248px);
    height: 100vh;
    margin-left: 230px;
    padding-top: 85px;
}

#content-layout .content{
    padding: 10px; 
}

.card {
    border-radius: 10px;
    background: #F4F2DE;
    box-shadow: 0px .5px 10px 0px #A1CCD1;
}

.card .card-header{
    background: #F4F2DE;
}
